<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562379353209-0f5milrnc60ennmiphv12r8h6qa9s4io.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562379353209-0f5milrnc60ennmiphv12r8h6qa9s4io</string>
	<key>API_KEY</key>
	<string>AIzaSyC41Q5FXUJN0pZvlk5axLy73qrPBZkW0-o</string>
	<key>GCM_SENDER_ID</key>
	<string>562379353209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secqrv3</string>
	<key>PROJECT_ID</key>
	<string>secqrv3</string>
	<key>STORAGE_BUCKET</key>
	<string>secqrv3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562379353209:ios:26dd56eb84d4c50ac438a8</string>
</dict>
</plist>